<!DOCTYPE html>
<html>
	<head>
		<title> Cerebro </title>
	</head>
	<body>
		<header>
			<h1>Panel de Control de Cerebro </h1>
		</header>
		<nav class="main" role="navigation">
			<a href="/">Inicio</a>
			<a href="/room">Nueva habitación</a>
		</nav>
		<div id="form">
			<form method="POST" action="/room">
				Nombre de la habitación:
				<input type="text" id="room[name]" value="" placeholder="Ej.: Salón"/>
				<p>
				Nombre del transmisor:
				<input type="text" id="room[tx]" value="" placeholder="Ej.: tx1"/>
				<p>
				<button type="submit">Crear</button>
			</form>
		</div>
		<div id="tabla">
			<table>
				<tr>
					<th>Transmisores</th>
				</tr>
					<% for (var i in clients) { %>
						<tr>
							<td><%= tx[i].name %></td>
						</tr>
					<% } %>
			</table>
		</div>
	</body>
</html>
